{% extends 'base.twig' %}

{% block content %}
    <h1 class="page-title">Qui sommes-nous ?</h1>

    <div class="about-container" style="border: 2px solid black; padding: 20px;">
        <div class="about-box">
            <h2>Histoire</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... (etc)</p>
        </div>

        <div class="about-box">
            <h2>Nos engagements</h2>
            <p>Vestibulum sollicitudin augue nec arcu placerat... (etc)</p>
        </div>

        <div class="about-box full-width">
            <h2>Nos services</h2>
            <p>Proin ultrices finibus nibh a ultrices... (etc)</p>
        </div>
    </div>
{% endblock %}
