<form method="POST" action="/login">
    <input type="text" name="username" placeholder="Pseudo" required>
    <input type="password" name="password" placeholder="Mot de passe" required>
    <input type="submit" value="Se connecter">
</form>
