<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Statuts des Candidatures</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <header>
        <div class="text-center">
            <img src="Images/BonPlan.png" alt="Le Bon Plan" class="logo">
        </div>
        <nav class="navbar">
            <a href="index.php">Accueil</a>
            <a href="templates/a-propos.php">À Propos</a>
            <a href="templates/offre.php" class="active" aria-current="page">Offres</a>
            <a href="templates/avis.php">Avis</a>
            <a href="templates/contact.php">Contact</a>
            <a href="templates/cookies.php">Cookies</a>
            <a href="templates/mon-compte.php">Mon Compte</a>
            <form action="templates/deconnexion.php" method="POST" class="logout-form">
                <button type="submit" class="logout-button">Déconnexion</button>
            </form>
        </nav>
    </header>

    <main>
        <div class="status-button-container">
            <a href="templates/offre.php" class="btn-status"> ⭠ Retourner aux offres</a>

        </div>

        <h1 class="page-title">Statuts des Candidatures</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Offre</th>
                    <th>Statut</th>
                </tr>
            </thead>
            {% if offers is not empty %}
            {% for offer in offers %}
            <tr>
                <td>{{ offer.id }}</td>
                <td>{{ offer.offer }}</td>
                <td class="status 
    {% if offer.status is defined and offer.status %}
        {{ offer.status|lower|replace({' ': '-'}) }}
    {% else %}
        no-status
    {% endif %}
" data-id="{{ offer.id }}">

            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">Aucune offre trouvée</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </main>

    <script src="js/interaction.js"></script>
    <script src="js/status.js"></script>

    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h4>Mentions Légales</h4>
                <p>&copy; 2025 - Tous droits réservés</p>
                <p>Hébergeur : CESI</p>
                <p>Adresse : 80 avenue Edmund Halley Rouen Madrillet Innovation, 76800 Saint-Étienne-du-Rouvray</p>
                <p>Tél : 02 32 81 85 60</p>
                <p>Raison Sociale : Entreprise de services informatiques</p>
            </div>
            <hr>
            <div class="footer-column">
                <p><a href="templates/politique-confidentialite.php" class="footer-link">Politique de confidentialité</a></p>
            </div>
        </div>
    </footer>
</body>

</html>